@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A; /* Medical Blue */
  --color-secondary: #0F172A; /* Navy Blue */
  --color-accent: #38BDF8;
  --color-background: #F8FAFC;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
    margin: 0;
    padding: 0;
  }
}
